/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  color: hsl(0, 0%, 100%);
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: hsl(0, 0%, 100%);
}

.testimonial__list-item > figure {
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
  font-size: 0.625rem;
  line-height: 1.125rem;
}

a.btn--link {
  font-family: "Raleway", sans-serif;
}
a.btn--link:link, a.btn--link:visited, a.btn--link:active {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.footer__sitemap li > a {
  font-family: "Open Sans", sans-serif;
}
.footer__sitemap li > a:link, .footer__sitemap li > a:visited, .footer__sitemap li > a:active {
  color: hsl(0, 0%, 100%);
}

.header {
  background-color: hsl(217, 28%, 15%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.25rem;
  padding-block-start: 1.5rem;
  padding-block-end: 3rem;
}
.header__logo img {
  width: 5rem;
}
.header__nav ul {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  justify-content: space-between;
  gap: 1.5rem;
}
.header__nav ul a:link, .header__nav ul a:visited, .header__nav ul a:active {
  color: hsl(0, 0%, 100%);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: hsl(218, 28%, 13%);
}

.intro {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background-color: hsl(217, 28%, 15%);
}
.intro__img {
  padding-inline: 1.75rem;
}
.intro__content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/bg-curvy-mobile.svg);
  padding-block-end: 7.5rem;
}
.intro__heading {
  margin-block-end: 1rem;
  padding-inline: 1.75rem;
}
.intro__text {
  margin-block-end: 2rem;
  padding-inline: 1.75rem;
}

.main-feature {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-feature__img {
  margin-block-end: 2.85rem;
}
.main-feature__content h2 {
  font-size: 1.125rem;
  margin-block-end: 1rem;
  text-align: center;
}
.main-feature__text--1 {
  margin-block-end: 1rem;
}
.main-feature__text--2 {
  margin-block-end: 1rem;
}

.feature {
  margin-block-end: 10rem;
}
.feature ul {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  padding-inline: 1rem;
}
.feature ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feature ul li img {
  margin-block-end: 1.5rem;
}

.testimonial {
  padding-inline: 3rem;
  background-image: url(../../images/bg-quotes.png);
  background-repeat: no-repeat;
  padding-block-start: 11rem;
  background-position: top 155px left 50px;
  background-size: 2rem;
}
.testimonial ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.testimonial__list-item {
  background-color: hsl(219, 30%, 18%);
  padding-inline: 1.25rem;
  padding-block: 1.5rem;
  border-radius: 6px;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.05);
}
.testimonial__list-item figure blockquote {
  margin-block-end: 1rem;
}
.testimonial__list-item figure figcaption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.testimonial__list-item figure figcaption img {
  width: 1.5rem;
  height: auto;
  border-radius: 50%;
}

.testimonial__profile-name {
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 0.75rem;
  letter-spacing: 0.03125rem;
  margin-block-end: 0.25rem;
}
.testimonial__profile-title {
  font-size: 0.5rem;
  line-height: 0.6rem;
  letter-spacing: 0.04081rem;
}

.cta {
  background-color: hsl(217, 28%, 15%);
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.25);
  padding-inline: 1.75rem;
  padding-block: 2.5rem;
  margin-inline: 1rem;
  border-radius: 6px;
  text-align: center;
  transform: translateY(180px);
}
.cta h2 {
  font-size: 1.125rem;
}
.cta p {
  margin-block-start: 1rem;
  margin-block-end: 2rem;
}

.form-control--email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.email__input {
  font-family: "Open Sans", sans-serif;
  padding-inline-start: 1.8rem;
  width: 100%;
  padding-block: 1.2rem;
  padding-block: 0.8rem;
  border-radius: 24px;
  border: none;
  outline: none;
  font-size: 0.625rem;
}
.email__input::placeholder {
  color: #c0c0c0;
  font-size: 0.625rem;
}

.email__error-message {
  color: hsl(0, 100%, 63%);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  margin-inline-start: 1rem;
}

.footer {
  background-color: hsl(217, 28%, 15%);
  padding-block-start: 16rem;
  padding-block-end: 3.25rem;
  padding-inline: 1rem;
}
.footer__logo {
  width: 6rem;
  margin-block-end: 2.2rem;
}

.footer__website-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: 3.5rem;
}
.footer__website-information li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__sitemap {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  margin-block-end: 4rem;
}
.footer__sitemap li:nth-child(4) {
  margin-block-end: 2rem;
}

.footer__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer__social-media li a {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-media li a svg path {
  fill: hsl(0, 0%, 100%);
}

.btn--link {
  display: inline-block;
}
.btn--link.primary-btn {
  background: linear-gradient(135deg, hsl(176, 68%, 64%) -42.11%, hsl(198, 60%, 50%) 100%);
  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
  padding-block: 1rem;
  padding-inline: 6rem;
  border-radius: 24px;
}
.btn--link.secondary-btn {
  background: linear-gradient(135deg, hsl(176, 68%, 64%) -42.11%, hsl(198, 60%, 50%) 100%);
  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
  font-size: 0.875rem;
  padding-inline: 4.5rem;
  padding-block: 1rem;
  border-radius: 24px;
  margin-block-start: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
