/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  color: hsl(0, 0%, 100%);
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: hsl(0, 0%, 100%);
}

.header {
  background-color: hsl(217, 28%, 15%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.25rem;
  padding-block-start: 1.5rem;
  padding-block-end: 3rem;
}
.header__logo img {
  width: 5rem;
}
.header__nav ul {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  justify-content: space-between;
  gap: 1.5rem;
}
.header__nav ul a:link, .header__nav ul a:visited, .header__nav ul a:active {
  color: hsl(0, 0%, 100%);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: hsl(218, 28%, 13%);
}

.intro {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background-color: hsl(217, 28%, 15%);
}
.intro__img {
  padding-inline: 1.75rem;
}
.intro__content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/bg-curvy-mobile.svg);
  padding-block-end: 7.5rem;
}
.intro__heading {
  margin-block-end: 1rem;
  padding-inline: 1.75rem;
}
.intro__text {
  margin-block-end: 1rem;
  padding-inline: 1.75rem;
}

.main-feature {
  padding-inline: 1rem;
  margin-block-end: 11rem;
}
.main-feature__img {
  margin-block-end: 2.85rem;
}
.main-feature__content h2 {
  font-size: 1.125rem;
  margin-block-end: 1rem;
  text-align: center;
}
.main-feature__text--1 {
  margin-block-end: 1rem;
}
.main-feature__text--2 {
  margin-block-end: 1rem;
}

.feature {
  margin-block-end: 10rem;
}
.feature ul {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  padding-inline: 1rem;
}
.feature ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feature ul li img {
  margin-block-end: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
