@use '../abstract' as *;

.cta {
  background-color: $color-bg-intro-email;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.25);
  padding-inline: 1.75rem;
  padding-block: 2.5rem;
  margin-inline: 1rem;
  border-radius: 6px;
  text-align: center;
  transform: translateY(180px);
  h2 {
    font-size: 1.125rem;
  }

  p {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
  }
}

.form-control--email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.email__input {
  font-family: $font-family-body;
  padding-inline-start: 1.8rem;
  // padding-inline-end: 4rem;
  width: 100%;
  padding-block: 1.2rem;
  padding-block: 0.8rem;
  border-radius: 24px;
  border: none;
  outline: none;
  font-size: 0.625rem;

  &::placeholder {
    color: #c0c0c0;
    font-size: 0.625rem;
  }

  // &:invalid {
  // }
}

.email__error-message {
  color: $color-light-red;
  font-family: $font-family-body;
  font-size: 0.75rem;
  margin-inline-start: 1rem;
}
