@use '../abstract' as *;

.header {
  background-color: $color-bg-intro-email;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.25rem;
  padding-block-start: 1.5rem;
  padding-block-end: 3rem;

  &__logo {
    img {
      width: 5rem;
    }
  }

  &__nav {
    ul {
      display: flex;
      font-family: $font-family-header;
      font-size: 0.75rem;
      justify-content: space-between;
      gap: 1.5rem;

      a {
        &:link,
        &:visited,
        &:active {
          color: $color-neutral-white;
        }
      }
    }
  }
}
