@use '../abstract' as *;

.intro {
  font-family: $font-family-body;
  @include flex-column-center;

  text-align: center;
  gap: 2rem;
  background-color: $color-bg-intro-email;

  &__img {
    padding-inline: 1.75rem;
  }

  &__content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../images/bg-curvy-mobile.svg);
    padding-block-end: 7.5rem;
  }

  &__heading {
    margin-block-end: 1rem;
    padding-inline: 1.75rem;
  }

  &__text {
    margin-block-end: 2rem;
    padding-inline: 1.75rem;
  }
}
