@use './variables' as *;

@mixin gradient-bg {
  background: linear-gradient(
    135deg,
    $color-cta-cyan -42.11%,
    $color-cta-blue 100%
  );
  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin respond-to($breakpoint) {
  $raw-query: map-get(
    $map: $breakpoints,
    $key: $breakpoint,
  );

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
    + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
